.app {
  display: block;
  max-width: 900px;
  width: 90%;
  margin: 10px auto;
  background: #ddd;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  margin: 0;
  padding: 0;
  transition: all 0.1s linear;
}

.slide {
  flex: 1 0 100px;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionTitle {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin-top: 10px;
  line-height: 1.1;
  color: inherit;
  font-size: 40px;
  text-transform: uppercase;
}

.answers {
  display: flex;
  align-self: stretch;
}

.answer {
  text-align: center;
  cursor: pointer;
  flex: 1 0 10px;
  margin: 5px;
  padding: 20px 5px;
  color: white;
  background: #00a5d9;
}

.beginButton {
  background: #00a5d9;
  padding: 10px 25px;
  border: none;
  color: white;
  font-size: 30px;
  margin: 25px;
  text-transform: uppercase;
  cursor: pointer;
}

.image {
  max-height: 200px;
  margin-top: 5px;
}

.questionImage {
  max-height: 100px;
  margin-top: 5px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.appheader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  text-align: center;
  color: white;
}

.resultTitle {
  text-transform: uppercase;
}

.resultSubtitle {
  text-transform: uppercase;
}

.resultDescription {
}

.findOutMore {
  display: inline-block;
  background: #00a5d9;
  padding: 10px 25px;
  border: none;
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin: 25px;
  text-transform: uppercase;
  cursor: pointer;
}