html, body { 
  background: url("./images/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;   
   overflow: hidden; 
   position: relative; 
   height: 100vh;
   width: 100%;
   font-size: 16px; 
}

.app {
  display: block;
  max-width: 900px;
  height: 100vh;
  width: 90%;
  margin: 10px auto;
  background: #ddd;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
/*
.header{
  background-color:#39408d;
}
*/
.title {
  color: #77777a;
  font-weight: normal;
  text-align: center;
  font-size: 3vh;
}

.slides {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  transition: all 0.1s linear;
}

.slide {
  flex: 1 0 100px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5% 10%; 
}

.questionContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5% 10%; 
  color: #77777a;
  width: 70%;
}

.introParagraphContainer{ 
  text-align: center;
  color: #77777a;
  font-size: 1.5vh;
}

.questionTitle {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin-top: 10px;
  line-height: 1.1;
  color: inherit;
  font-size: 4vh;
  text-align: center;
}

.answers {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.answerCircle {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #00a5d9;
  float: left;
  position: relative;
  border: none;
  z-index: 100;
}



.answerCircle:focus{
  background: #f3e2c7; /* Old browsers */
  background: -webkit-linear-gradient(#f3e2c7 0%, #c19e67 1%, #e9d4b3 100%);
  background: -moz-linear-gradient(#f3e2c7 0%, #c19e67 1%, #e9d4b3 100%);
  background: -o-linear-gradient(#f3e2c7 0%, #c19e67 1%, #e9d4b3 100%);
  background: linear-gradient(#f3e2c7 0%, #c19e67 1%, #e9d4b3 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
  border: none;
  outline: none;
}

.answerContainer {
  width: 25%;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.answerContainer:first-child {
  justify-content: flex-start;
}

.answerText {
  position: absolute;
  width: 16vh;
  left: -7vh;
  top: 45px;    
  font-size: 2vh;
  color: #77777a;
}

@media only screen and (max-width: 415px) {
    .answerText {
      width: 10vh;
      left: -3vh;
    }
    .questionContainer{
      width: 95%;
    }
    .answerText {
     font-size: 1.5vh;
    }
}

@media only screen  and (max-height: 500px){
    .title{
      font-size: 5vh;
    }

    .introParagraphContainer{
      font-size: 2.5vh;
    }
    .answerText {
      width: 36vh;
      left: -16vh;
    }

    .selectLable {
      font-size: 3.6vh!important;
      margin: 0px;
      display: none;
    }

 color="#39408d"
    .answerText {
      font-size: 3vh;
    }

   .beginButtonWrapper{
      position: fixed;
      bottom: 15px;
    }

   .beginButton{
     font-size: 3vh!important;
   }

    .select {
      border: 1px solid lightgrey;
      margin-bottom: 30px;
      color: grey;
      font-size: 3vh!important;
    }
}

.questionContainer{
  width: 80%;
  justify-content: space-between;
}

.questionContentContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0.7
}

.answerContainer:nth-child(2){
  margin-right: 5%;  
}

.answerContainer:nth-child(3){
  margin-left: 5%;  
}
.answerContainer:nth-child(4) {
  justify-content: flex-end;
}

.horizontalrule {
  position: absolute;
  height: 5px;
  left: 0px;
  right: 0px;
  background: #00a5d9;
}
.answerText {
  text-align: center;
}

.beginButton {
  background: #abe400;
  box-sizing: border-box;
  padding: 2vh 4vh;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 2vh;
  cursor: pointer;
}

.beginButtonWrapper{
  margin-top: 0px;
  padding: 5px;
  border: 2px solid #c5c1c0;
  border-radius: 5px;
}

.selectLable {
 color: #77777a;
 text-align: center;
 font-size: 1.6vh;
}

.select {
  border: 1px solid lightgrey;
  margin-bottom: 30px;
  color: grey;
  padding: 5px;
  font-size: 2vh;
}

.image {
  max-width: 30vh;
  margin-top: 5px;
}

.questionImage {
  max-height: 100px;
  margin-top: 5px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.appheader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  text-align: center;
  color: white;
}

.resultTitle {
  text-transform: uppercase;
}

.resultSubtitle {
  text-transform: uppercase;
}

.findOutMore {
  display: inline-block;
  background: #00a5d9;
  padding: 10px 25px;
  border: none;
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin: 25px;
  text-transform: uppercase;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.counter {
  font-size: 2vh;
}

.resultsContainer{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #77777a; 
}

.yourResults{
  font-size: 4vh;
  font-weight: bold;
}

.theBestCaption{
  font-size: 4.3vh;
  text-align: center
}

.theBestResult{
  font-size: 4.3vh;
  text-align: center
}