
html, body { 
   background-color: #f8f7f6;
   overflow: hidden; 
   position: relative; 
   height: 100vh;
   width: 100vw;
   font-size: 16px; 
   font: normal 14px/1.5 Open Sans,sans-serif;
    -webkit-font-smoothing: antialiased;
   font-weight: 400;
   -ms-text-size-adjust: 100%; 
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent;
   color:#333333; 
}

.app {
  display: block;
  height: 80%;
  width: 90%!important;
  margin: 10px auto;
  padding-left: 5px;
  padding-right: 5px;
  background: #ddd;
  flex-direction: column;
  text-align: center;
   font: normal 14px/1.5 Open Sans,sans-serif;

}

.header {
  background-color:#39408d;
  width: 100%;
  height: 10vh;
  padding: 1%;
  padding-left: 3%;
}
.headerLogo {
  height: 95%;
}
.title {
  color: #77777a;
  font-weight: normal;
  text-align: center;
  font-size: 2.3vh;
  line-height: 3.4vh;
}

.mainTitle {
    color: #77777a;
    margin: 2vh 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    align-self: stretch; 
}

.slides {
  display: flex;
  margin: 0;
  padding: 0;
  transition: all 0.6s ease-in-out;
}

.slide {
  flex: 1 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw!important;  
  height: 85vh;
  padding-bottom: 5vh;
  align-items: stretch;
  text-align: center;
}

.introContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3% 10% 0% 10%; 
  overflow-y: scroll!important;
  height: 100vh!important;

}

/* questionSLides*/

.iconIntroContainer{
  display: block;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  
}

.introParagraphContainer{ 
  text-align: center;
  color: #77777a;
  font-size: 23px;
  margin-top: -2vh;
  align-self: stretch; 
}

.introParagraphContainer > p {

}

.questionTitle {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  line-height: 1.1;
  color: #77777a;
  font-size: 4vh;
  text-align: center;
  align-self: stretch; 
 
}

.answers {
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* horizontal line */
.answers:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 2px solid darkblue;
}
/* answer Red Circle buttons */

.answerCircle {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #ed174f;
  float: left;
  position: relative;
  border: none;
  z-index: 100;
  overflow: visible!important;
}

.answerCircle:active{
    width: 34px;
    height: 34px;
    background: -moz-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* ie10+ */
    background: linear-gradient(135deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08B9FF', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
    border: none;
    outline: none;
}

.answerCircle:focus{
    width: 34px;
    height: 34px;
    background: -moz-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* ie10+ */
    background: linear-gradient(135deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08B9FF', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
    border: none;
    outline: none;
}

.answerCircle:focus  .answerText{

}

.whiteCircle {
  display: none;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 22px;
  height: 22px;
  border: 2px solid white;
  border-radius: 100%;
}

.answerCircle:focus .whiteCircle{
  display: block;
}

.answerContainer {
  width: 25%;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.answerContainer:first-child {
  justify-content: flex-start;
}

.forthParagraph {
  font-weight: bold;
  font-size: 1.1em;
}

@media only screen and (max-width: 600px) {
    .answerText {
      width: 20vw;
      left: -4vw!important;
      font-size: 1.5vh!important;
    }
    .questionContainer{
      width: 95%;
    }
    .iconIntroContainer{
      display: block;
    }

        select {
        padding: 5px!important;
        height:30px!important;
        line-height:30px!important;
        background:#f4f4f4;
        color: grey;
        font-size: 10px!important;
    } 
}

@media only screen  and (max-height: 400px){

    .answerText {
      width: 14vw;
      left: -5vw!important;
      font-size: 3vh;
    }

    .title{
      font-size: 5vh;
    }

    .introParagraphContainer{
      font-size: 2.5vh;
    }

    select {

        padding: 5px!important;
        height:30px!important;
        line-height:30px!important;
        background:#f4f4f4;
        color: grey;
        font-size: 10px!important;
    } 


}

.questionContainer {
  padding: 2% 10%;
  color: #333333;
  width: 80%; 
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.questionContentContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 0.6;
}

.answerContainer:nth-child(2){
  margin-right: 5%;  
}

.answerContainer:nth-child(3){
  margin-left: 5%;  
}

.answerContainer:nth-child(4) {
  justify-content: flex-end;
}

.horizontalrule {
  position: absolute;
  height: 3px;
  left: 0px;
  right: 0px;
  background: #004b7d;
}

.answerText {
  position: absolute;
  top: 40px;    
  font-size: 2vh;
  text-align: center;
  color: #343434;


  width: 16vw;
  left: -7vw;
  font-size: 1.5vh;
}

.beginButton {
  background: #abe400;
  box-sizing: border-box;
  padding: 10px 30px;
  border-radius: 5px;
  color: black;
  font-size: 2.5vh; /*font-size: 18px;*/
  cursor: pointer;
  border: 0 none;
  cursor: pointer;
  display:inline-block;
  height: 8vh;
  line-height: 4vh;
  margin:0;
  overflow: hidden;
  max-width: 250px;
    /*width: 100%;*/
}

.beginButtonNew {
  background: #abe400;
  box-sizing: border-box;
  padding: 10px 30px;
  border-radius: 5px;
  color: black;
  font-size: 2.5vh; /*font-size: 18px;*/
  cursor: pointer;
  border: 0 none;
  cursor: pointer;
  display:inline-block;
  height: 8vh;
  width: 30vw;
  line-height: 4vh;
  margin:0;
  overflow: hidden;
  max-width: 250px;
    /*width: 100%;*/
}

.beginButtonWrapper{
 
  margin: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 5px
}

.nextButton {
  flex:1;
  background: #00a5d9;
  box-sizing: border-box;
  padding: 2vh 13vw;
  border: none;
  color: white;
  font-size: 2.5vh; /*font-size: 18px;*/
  cursor: pointer;
  background-color: #00a5d9;
  border: 0 none;
  color: #fff !important;
  cursor: pointer;
  display:inline-block;
  height: 8vh;
  width: 37vw;
  line-height: 4vh;
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
  min-width: 150px;
  max-width: 350px;
    /*width: 100%;*/
}

.previusButton {
  color: #333 !important;
  flex:1;
  box-sizing: border-box;
  padding: 2vh 13vw;
  border: none;
  color: white;
  font-size: 2.5vh; /*font-size: 18px;*/
  cursor: pointer;
  border: 0 none;
  cursor: pointer;
  display:inline-block;
  height: 8vh;
  width: 37vw;
  line-height: 4vh;
  margin:0 auto;
  overflow: hidden;
  text-align: left;
  min-width: 150px;
  max-width: 350px;
}

.prevNextButtonWrapper{
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex: 0.4;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}


.selectWrapper{
  margin: 20px;
}
/*
.select {
  border: 1px solid lightgrey;
  color: grey;
  background: white;
  padding: 3px;
  line-height: 20px!important;
 
}*/

/* select UI Cross browsers Style*/
@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        display: block;
        height:5v!important;
        line-height:5vh!important;
        background:#f4f4f4;
        color: grey;
        font-size: 2vh!important;
    } 
}
select::-moz-focus-inner { /*Remove button padding in FF*/ 
    border: 0!important;
    padding: 0!important;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select {
        padding: 15px 0!important;
    }
}
/* ------------------ */

.image {
  min-width: 130px!important;
  max-width: 230px!important;
  margin: auto;
  width: 20vw;
  margin-top: 5px;
}

.questionImage {
  width: 20vh;
  margin-top: 5px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.appheader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  text-align: center;
  color: white;
}

.resultTitle {
  text-transform: uppercase;
}

.resultSubtitle {
  text-transform: uppercase;
}

.findOutMore {
  display: inline-block;
  background: #00a5d9;
  padding: 10px 25px;
  border: none;
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin: 25px;
  text-transform: uppercase;
  cursor: pointer;
}

button:disabled,
button[disabled]{

}

.counter {
  font-size: 2vh;
}

.nextButtonWrapper{
  display: flex;
  flex: 0.4;
  flex-direction: column;
  justify-content: flex-end;
}

/* -----------------------results slide ---------------------------------*/

.resultsContainer{
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  flex: 0.85;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3% 10% 0% 10%; 
  overflow-y: scroll!important;
  height: 100vh!important;
  color: #77777a;
  text-align:center;
  padding-bottom: 50px!important;
  
}

.topDescription{
  flex: 0.3!important;
  flex-direction: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
}

.yourResults{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.theBestCaption{
  font-size: 32px;
  text-align: center;
}

.theBestResult{
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.paragraphResultOne {
  font-size: 20px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;

}

.paragraphResultTwo{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.bottomDescription{
  height: auto;
  display: flex;
  flex: 0.6;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
  align-items: space-between;
  justify-content: space-between; 
}

.youEnjoy{
  text-align: left;
  flex: 1;
}

.youGet{
 text-align: left;
 flex: 1;
 margin-right: 10%;
}

.youGet > p > a {
  color: #abd640!important;
}

.youGet > ul {
  padding-left: 15px!important;
}

.youGet > ul > li {
}

.imageResult{
  min-width: 130px!important;
  max-width: 230px!important;

  width: 20vw;
  margin-top: 5px;
}

.tryButton{
  background: #abe400;
  box-sizing: border-box;
  padding: 10px 3px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  border: 0 none;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: center;
}

.tryWrapper{
  margin-left: auto;
  margin-right: auto;
  width: 225px;
  height: 55px!important;
  text-align: center;
  box-sizing: border-box;
  vertical-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 5px;
}

.otherChoice{
  width: 100%;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  cursor: pointer;
  background-color: white; 
}

.otherChoice > p {
  color: grey;
}


.otherChoice:nth-child(1), .otherChoice:nth-child(1) > p > a {
  color: #7ec16d;
}

.otherChoice:nth-child(2), .otherChoice:nth-child(2) > p > a{
  color: #409cd1;
}

.otherChoice:nth-child(3),.otherChoice:nth-child(3) > p > a{
  color: #d640b5;
}

.studyMethodSmallDesc{
color: #fbd7ec;
}

a {
  text-decoration: none!important;
}

a.unsureLink{
  margin-right: 20px;
  margin-left: 20px;
  display: block;
}

/* social media buttons */

.demopadding {

  margin-left: auto;
  margin-right: auto;
}
.iconSocial {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
  color:#FFFFFF;
  float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#39408d;
	color:white;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.iconSocial > i {
	font-size:26px;
	position:absolute;
	left:9px;
	top:7px;
}

#fb{
  left: 11px;
  top: 9px;
}
