

html, body { 
   background-color: #f0f0f0;
   overflow: hidden; 
   position: relative; 
   height: 100vh;
   width: 100%;
   font-size: 16px; 
    font: normal 14px/1.5 Open Sans,sans-serif;
    -webkit-font-smoothing: antialiased;
   font-weight: 400;
   -ms-text-size-adjust: 100%; 
   -webkit-text-size-adjust: 100%;
   color:#333333; 
}

.app {
  display: block;
  max-width: 900px;
  height: 100vh;
  width: 90%;
  margin: 10px auto;
  padding-left: 5px;
  padding-right: 5px;
  background: #ddd;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
   font: normal 14px/1.5 Open Sans,sans-serif;
}
.header {
  background-color:#39408d;
  width: 100%;
  height: 10vh;
  padding: 1%;
  padding-left: 3%;
}
.title {
  color: #77777a;
  font-weight: normal;
  text-align: center;
  font-size: 2.3vh;
  line-height: 3.4vh;
}

.mainTitle {
    color: #77777a;
    margin: 2vh 0;
    text-align: center;
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: 400;
}

.slides {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  transition: all 0.6s ease-in-out;
}

.slide {
  flex: 1 0 100px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.introContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5% 10%; 
}

.questionContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2% 2%;
  color: #333333;
  width: 70%;
}

.introParagraphContainer{ 
  text-align: center;
  color: #77777a;
  font-size: 2.3vh;
  line-height: 3.4vh;
  margin-top: -2vh;
}

.questionTitle {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin-top: 10px;
  line-height: 1.1;
  color: inherit;
  font-size: 4.5vh;
  text-align: center;
  text-transform: uppercase;
}

.answers {
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* horizontal line */
.answers:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 2px solid darkblue;
}
/* answer Red Circle buttons */
.answerCircle {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #ed174f;
  float: left;
  position: relative;
  border: none;
  z-index: 100;
  -webkit-tap-highlight-color: red;
  
}

.answerCircle:active{
    width: 34px;
    height: 34px;
    background: -moz-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* ie10+ */
    background: linear-gradient(135deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08B9FF', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
    border: none;
    outline: none;
}

.answerCircle:focus{
    width: 34px;
    height: 34px;
    background: -moz-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(315deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* ie10+ */
    background: linear-gradient(135deg, rgba(8,185,255,1) 0%, rgba(8,185,255,1) 38%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08B9FF', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
    border: none;
    outline: none;
}

.answerCircle:focus  .answerText{

}

.whiteCircle {
  display: none;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 22px;
  height: 22px;
  border: 2px solid white;
  border-radius: 100%;
}

.answerCircle:focus .whiteCircle{
  display: block;
}

/*safari*
/*SAFARI END*/

.answerContainer {
  width: 25%;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.answerContainer:first-child {
  justify-content: flex-start;
}



@media only screen and (max-width: 415px) {
    .answerText {
      width: 20vw!important;
      left: -7vw!important;
      font-size: 1.8vh!important;
    }
    .questionContainer{
      width: 95%;
    }
}

@media only screen  and (max-height: 500px){

    .answerText {
      width: 14vw!important;
      left: -5vw!important;
      font-size: 3vh!important;
    }

    .title{
      font-size: 5vh;
    }

    .introParagraphContainer{
      font-size: 2.5vh;
    }


    .selectLable {
      font-size: 3.6vh!important;
      margin: 0px;
      display: none;
    }

    .select {
      border: 1px solid lightgrey;
      color: grey;
    }
}

.questionContainer{
  width: 80%;
  flex: 1;
}

.questionContentContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 0.6;
}

.answerContainer:nth-child(2){
  margin-right: 5%;  
}

.answerContainer:nth-child(3){
  margin-left: 5%;  
}
.answerContainer:nth-child(4) {
  justify-content: flex-end;
}

.horizontalrule {
  position: absolute;
  height: 3px;
  left: 0px;
  right: 0px;
 
  background: #004b7d;
}

.answerText {
  position: absolute;
  top: 45px;    
  font-size: 2vh;
  text-align: center;
  color: #343434;
  width: 10vw;
  left: -4vw;
}

.beginButton {
  background: #00a5d9;
  box-sizing: border-box;
  padding: 2vh 13vw;
  border: none;
  color: white;
  font-size: 2.5vh; /*font-size: 18px;*/
  cursor: pointer;
  background-color: #00a5d9;
  border: 0 none;
  color: #fff !important;
  cursor: pointer;
  display:inline-block;
  height: 8vh;
  line-height: 4vh;
  margin:0;
  overflow: hidden;
  text-align: left;
    /*width: 100%;*/
}

.nextButton {
  flex:1;
  background: #00a5d9;
  box-sizing: border-box;
  padding: 2vh 13vw;
  border: none;
  color: white;
  font-size: 2.5vh; /*font-size: 18px;*/
  cursor: pointer;
  background-color: #00a5d9;
  border: 0 none;

  color: #fff !important;
  cursor: pointer;
  display:inline-block;
  height: 8vh;
  width: 37vw;
  line-height: 4vh;
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
  min-width: 150px;
  max-width: 350px;
    /*width: 100%;*/
}
.previusButton {
  color: #333 !important;
  flex:1;
  box-sizing: border-box;
  padding: 2vh 13vw;
  border: none;
  color: white;
  font-size: 2.5vh; /*font-size: 18px;*/
  cursor: pointer;
  border: 0 none;
  cursor: pointer;
  display:inline-block;
  height: 8vh;
  width: 37vw;
  line-height: 4vh;
  margin:0 auto;
  overflow: hidden;
  text-align: left;
  min-width: 150px;
  max-width: 350px;
}

.prevNextButtonWrapper{
  display: flex;
  flex: 0.4;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.selectLable {
 color: #77777a;
 text-align: center;
 font-size: 1.6vh;
}

.select {
  border: 1px solid lightgrey;
  color: grey;
  font-size: 3vh;
  margin-top: -10px;
  margin-bottom: 2vh;
}

.image {
  width: 20vh;
  margin-top: 5px;
}

.questionImage {
  width: 20vh;
  margin-top: 5px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.appheader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  text-align: center;
  color: white;
}

.resultTitle {
  text-transform: uppercase;
}

.resultSubtitle {
  text-transform: uppercase;
}

.findOutMore {
  display: inline-block;
  background: #00a5d9;
  padding: 10px 25px;
  border: none;
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin: 25px;
  text-transform: uppercase;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  background: #00a5d9;
}

.counter {
  font-size: 2vh;
}

.resultsContainer{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #77777a; 
}

.yourResults{
  font-size: 4vh;
  font-weight: bold;
}

.theBestCaption{
  font-size: 4.3vh;
  text-align: center
}

.theBestResult{
  font-size: 4.3vh;
  text-align: center
}

.nextButtonWrapper{
  display: flex;
  flex: 0.4;
  flex-direction: column;
  justify-content: flex-end;
}


.red {
  background-color: red;
  width: 40px;
  height: 40px;
}

.blue{
  background-color : blue;
    width: 40px;
  height: 40px;
}

Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help